{% extends "meroJodi/headerTwo.html" %} 
 {% load static %}
{% block title %} MeroJodi Registration Form
{% endblock title %} 
{% block styling %}
<link rel="stylesheet" href="{% static 'meroJodi/css/style.css' %}" /> 
{% endblock styling %} 


{% block content %}

<div class="d-flex justify-content-center align-items-center login-container">
  <div class="author d-flex">
    <div class="image align-self-center">
      <img
        src="{% static 'meroJodi/images/meroJodi.png' %}"
        alt=""
        width="65%"
        height="%"
      />
    </div>
    <form class="login-form text-center" action="{% url 'register_three' %}">
      <h2 class="mb-5 font-weight-light text-uppercase">Create your Profile</h2>
      <div class="form-group">
        <input
          type="text"
          class="form-control rounded-pill form-control-lg"
          placeholder="Your Hometown"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control rounded-pill form-control-lg"
          placeholder="City you live in"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control rounded-pill form-control-lg"
          placeholder="Country you live in"
        />
      </div>
      <div class="form-group">
        <label for="sel1">You live with your family?</label>
        <select class="form-control rounded-pill form-control-lg" id="sel1">
          <option>Yes</option>
          <option>No</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sel2">Martial status</label>
        <select class="form-control rounded-pill form-control-lg" id="sel2">
          <option>Never Married</option>
          <option>Divorced</option>
          <option>Widowed</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sel3">Your Diet</label>
        <select class="form-control rounded-pill form-control-lg" id="sel3">
          <option>Veg</option>
          <option>Non-Veg</option>
          <option>Occasionally Non-Veg</option>
          <option>Eggetarian</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sel4">Your height</label>
        <select class="form-control rounded-pill form-control-lg" id="sel4">
          <option>4'0"-4'3"</option>
          <option>4'4"-4'7"</option>
          <option>4'8"-4'11"</option>
          <option>5'0"-5'3"</option>
          <option>5'4"-5'7"</option>
          <option>5'8"-5'11"</option>
          <option>6'0"-6'3"</option>
          <option>6'3"-6'7"</option>
          <option>Above 6'8"</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sel5">Your caste</label>
        <select class="form-control rounded-pill form-control-lg" id="sel5">
          <option>Others/Undefined</option>
          <option>Foreigners</option>
          <option>Amat</option>
          <option>Athpahariya</option>
          <option>Badhaee</option>
          <option>Badi</option>
          <option>Bahing</option>
          <option>Bantawa</option>
          <option>Bantar/Sardar</option>
          <option>Barai</option>
          <option>Bengali</option>
          <option>Bhote</option>
          <option>Bhujel</option>
          <option>Bin</option>
          <option>Bote</option>
          <option>Brahmin-Hill/Bahun</option>
          <option>Brahmin-Tarai(Maithil, Kanyakubja, Bhumihar)</option>
          <option>Brahmu/Baramo</option>
          <option>Byansi/Sauka</option>
          <option>Chamar/Harijan/Ram</option>
          <option>Chamling</option>
          <option>Chepang</option>
          <option>Chhantyal</option>
          <option>Chhetri</option>
          <option>Chidimar</option>
          <option>Damai/Dholi</option>
          <option>Darai</option>
          <option>Danuwar</option>
          <option>Dev</option>
          <option>Dhandi</option>
          <option>Dhankar/Dharikar</option>
          <option>Dhanuk</option>
          <option>Dhobi</option>
          <option>Dhimal</option>
          <option>Dhuniya</option>
          <option>Dolpo</option>
          <option>Dom</option>
          <option>Dusadh/Pasawan/Pasi</option>
          <option>Dura</option>
          <option>Gaderi/Bhediyar</option>
          <option>Gangai</option>
          <option>Gaine</option>
          <option>Ghale</option>
          <option>Gurung</option>
          <option>Halkhor</option>
          <option>Hayu</option>
          <option>Hyolmo</option>
          <option>Jhangar/Uraon</option>
          <option>Jirel</option>
          <option>Kami</option>
          <option>Kalwar</option>
          <option>Kanu/Haluwai</option
          ><option>Kathabaniyan</option
          ><option>Kewat</option>
          <option>Khatwe</option
          ><option>Koiri/Kushwaha</option
          ><option>Kumal</option>
          <option>Kurmi</option>
          <option>Kahar</option
          ><option>Kayastha</option>
          <option>Kulung</option
          ><option>Kumhar</option>
          <option>Koche</option
          ><option>Kamar</option>
          <option>Kisan</option
          ><option>Khaling</option
          ><option>Kusunda</option>
          <option>Kalar</option
          ><option>Kori</option>
          <option>Khawas</option>
          <option>Lodh</option
          ><option>Lohar</option>
          <option>Limbu</option>
          <option>Lepcha</option
          ><option>Lhomi</option>
          <option>Lhopa</option
          ><option>Lohorung</option>
          <option>Magar</option>
          <option>Musahar</option
          ><option>Mallaha</option>
          <option>Majhi</option
          ><option>Mewahang</option
          ><option>Munda</option>
          <option>Meche</option
          ><option>Mali</option
          ><option>Marwadi</option>
          <option>Nuniya</option
          ><option>Newar</option>
          <option>Nachhring</option>
          <option>Natuwa</option
          ><option>Nurang</option>
          <option>Pathakatta/Kushwadia</option>
          <option>Punjabi</option
          ><option>Pahari</option>
          <option>Raji</option
          ><option>Rajput/Terai Kshetriya</option>
          <option>Rajdhob</option>
          <option>Rajbhar</option
          ><option>Rai</option>
          <option>Raute</option
          ><option>Rajbanshi</option>
          <option>Sudhi</option
          ><option>Sarki</option>
          <option>Sherpa</option
          ><option>Sanyasi/Dasnami</option>
          <option>Sunwar</option>
          <option>Sonar</option>
          <option>Santhal</option>
          <option>Sampang</option
          ><option>Sarabaria</option>
          <option>Thakali</option
          ><option>Thami</option>
          <option>Tatma/Tatwa</option>
          <option>Teli</option>
          <option>Tamang</option
          ><option>Thakuri</option
          ><option>Tharu</option>
          <option>Thakur/Hajam</option>
          <option>Topkegola</option
          ><option>Thulung</option
          ><option>Tajpuriya</option>
          <option>Walung</option
          ><option>Yamphu</option>
          <option>Yadav</option
          ><option>Yakkha</option>
        </select>
      </div>

      <div
        class="forgot-link form-group d-flex justify-content-between align-items-center"
      >
        <!-- <div class="form-check">
          <input type="checkbox" class="form-check-input" id="remember" />
          <label class="form-check-label" for="remember"
            >Remember Password</label
          >
        </div> -->
        <!-- <a href="#">Forgot Password?</a> -->
      </div>
      <button
        type="submit"
        class="btn mt-5 rounded-pill btn-lg btn-custom btn-block text-uppercase"
      >
        Next
      </button>
    </form>
  </div>
</div>
{% endblock %}
