{% extends "meroJodi/registration/headerTwo.html" %}{% load static %} {% block title %}
MeroJodi Registration Form {% endblock title %} {% block styling %}
<link rel="stylesheet" href="{% static 'meroJodi/css/loginStyle.css' %}" />
{% endblock styling %} {% block content %}

<div class="d-flex justify-content-center align-items-center login-container">
  <div class="author d-flex">
    <div class="image align-self-center">
      <img
        src="{% static 'meroJodi/images/meroJodi.png' %}"
        alt=""
        width="65%"
        height="%"
      />
    </div>
    <form
      class="login-form text-center"
      action=""
      role="form"
      method="post">
       {% csrf_token %}
      <h1 class="mb-5 font-weight-light text-uppercase">Register</h1>
      <div class="form-group">
        <input
          type="text"
          class="form-control rounded-pill form-control-lg"
          placeholder="Enter your email"
          name="email"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control rounded-pill form-control-lg"
          placeholder="Enter mobile number"
          name="mobileno"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control rounded-pill form-control-lg"
          placeholder="Enter password"
          name="password"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control rounded-pill form-control-lg"
          placeholder="Confirm password"
          name="confirmPassword"
        />
      </div>
      <div
        class="forgot-link form-group d-flex justify-content-between align-items-center"
      >
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="remember" name="rememberMe"/>
          <label class="form-check-label" for="remember"
            >Remember Password</label
          >
        </div>
        <!-- <a href="#">Forgot Password?</a> -->
      </div>

      <input
        type="submit"
        value="Next"
        class="btn mt-5 rounded-pill btn-lg btn-custom btn-block text-uppercase"
      />
    </form>
  </div>
</div>
{% endblock %}
