{% extends "meroJodi/login/headerThree.html" %} {% load static %} 
{% block title %}
MeroJodi - लगन जुर्ला है!
{% endblock title %} 
    {% block styling %}
			<link rel="stylesheet" type="text/css" href="{% static 'meroJodi/css/flatpickr.min.css' %}">
	  {% endblock styling %}

{% block content %} 
	
	<div class="wrapper">
		<header>
			<div class="container">
				<div class="header-data">
					<div class="logo">
						<a href="{% url 'firstpage' %}" title=""><img src="{% static 'meroJodi/images/logo.png' %}" alt="MeroJodi"></a>
					</div><!--logo end-->
					<div class="search-bar">
						<form>
							<input type="text" name="search" placeholder="Search...">
							<button type="submit"><i class="la la-search"></i></button>
						</form>
					</div><!--search-bar end-->
					<nav>
						<ul>
							<li>
								<a href="Matches.html" title="">
									<span><img src="{% static 'meroJodi/images/icon1.png' %}" alt=""></span>
									Matches
								</a>
							</li>
							<li>
								<a href="Activity.html" title="">
									<span><img src="{% static 'meroJodi/images/icon4.png' %}" alt=""></span>
									Activity
								</a>
							</li>

							<!-- MESSAGES & MESSAGE NOTIF DROPDOWN MENU -->
							<li>
								<a href="#" title="" class="not-box-open">
									<span><img src="{% static 'meroJodi/images/icon6.png' %}" alt=""></span>
									Messages
								</a>
								<div class="notification-box msg">
									<div class="nt-title">
										<h4>Setting</h4>
										<a href="#" title="">Clear all</a>
									</div>
									<div class="nott-list">
										<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="{% static 'meroJodi/images/resources/ny-img1.png' %}" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="messages.html" title="">Jassica William</a> </h3>
							  					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="images/resources/ny-img2.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="messages.html" title="">Jassica William</a></h3>
							  					<p>Lorem ipsum dolor sit amet.</p>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="images/resources/ny-img3.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="messages.html" title="">Jassica William</a></h3>
							  					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua.</p>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="view-all-nots">
						  					<a href="messages.html" title="">View All Messsages</a>
						  				</div>
									</div><!--nott-list end-->
								</div><!--notification-box end-->
							</li>


						</ul>
					</nav><!--nav end-->
					<div class="menu-btn">
						<a href="#" title=""><i class="fa fa-bars"></i></a>
					</div><!--menu-btn end-->
					<div class="user-account">
						<div class="user-info">
							<img src="http://via.placeholder.com/30x30" alt="">
							<a href="#" title="">John</a>
							<i class="la la-sort-down"></i>
						</div>
						<div class="user-account-settingss">
							<h3>Online Status</h3>
							<ul class="on-off-status">
								<li>
									<div class="fgt-sec">
										<input type="radio" name="cc" id="c5">
										<label for="c5">
											<span></span>
										</label>
										<small>Online</small>
									</div>
								</li>
								<li>
									<div class="fgt-sec">
										<input type="radio" name="cc" id="c6">
										<label for="c6">
											<span></span>
										</label>
										<small>Offline</small>
									</div>
								</li>
							</ul>
							<h3>Custom Status</h3>
							<div class="search_form">
								<form>
									<input type="text" name="search">
									<button type="submit">Ok</button>
								</form>
							</div><!--search_form end-->
							<h3>Setting</h3>
							<ul class="us-links">
								<li><a href="profile-account-setting.html" title="">Account Setting</a></li>
								<li><a href="#" title="">Privacy</a></li>
								<li><a href="#" title="">Faqs</a></li>
								<li><a href="#" title="">Terms & Conditions</a></li>
							</ul>
							<h3 class="tc"><a href="sign-in.html" title="">Logout</a></h3>
						</div><!--user-account-settingss end-->
					</div>
				</div><!--header-data end-->
			</div>
		</header><!--header end-->



		<section class="companies-info">
			<div class="container">
				<div class="company-title">
					<h3>All Matches</h3>
				</div><!--company-title end-->
				<div class="companies-list">
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="company_profile_info">
								<div class="company-up-info">
									<img src="http://via.placeholder.com/91x91" alt="">
									<h3>John Doe</h3>
									<h4>Graphic Designer</h4>
									<ul>
										<li><a href="#" title="" class="follow">Connect</a></li>
										<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
										<li><a href="#" title="" class="hire-us">Remove</a></li>
									</ul>
								</div>
								<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
							</div><!--company_profile_info end-->
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="company_profile_info">
								<div class="company-up-info">
									<img src="http://via.placeholder.com/91x91" alt="">
									<h3>John Doe</h3>
									<h4>Graphic Designer</h4>
									<ul>
										<li><a href="#" title="" class="follow">Connect</a></li>
										<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
										<li><a href="#" title="" class="hire-us">Remove</a></li>
									</ul>
								</div>
								<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
							</div><!--company_profile_info end-->
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="company_profile_info">
								<div class="company-up-info">
									<img src="http://via.placeholder.com/91x91" alt="">
									<h3>John Doe</h3>
									<h4>Graphic Designer</h4>
									<ul>
										<li><a href="#" title="" class="follow">Connect</a></li>
										<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
										<li><a href="#" title="" class="hire-us">Remove</a></li>
									</ul>
								</div>
								<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
							</div><!--company_profile_info end-->
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="company_profile_info">
								<div class="company-up-info">
									<img src="http://via.placeholder.com/91x91" alt="">
									<h3>John Doe</h3>
									<h4>Graphic Designer</h4>
									<ul>
										<li><a href="#" title="" class="follow">Connect</a></li>
										<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
										<li><a href="#" title="" class="hire-us">Remove</a></li>
									</ul>
								</div>
								<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
							</div><!--company_profile_info end-->
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="company_profile_info">
								<div class="company-up-info">
									<img src="http://via.placeholder.com/91x91" alt="">
									<h3>John Doe</h3>
									<h4>Graphic Designer</h4>
									<ul>
										<li><a href="#" title="" class="follow">Connect</a></li>
										<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
										<li><a href="#" title="" class="hire-us">Remove</a></li>
									</ul>
								</div>
								<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
							</div><!--company_profile_info end-->
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="company_profile_info">
								<div class="company-up-info">
									<img src="http://via.placeholder.com/91x91" alt="">
									<h3>John Doe</h3>
									<h4>Graphic Designer</h4>
									<ul>
										<li><a href="#" title="" class="follow">Connect</a></li>
										<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
										<li><a href="#" title="" class="hire-us">Remove</a></li>
									</ul>
								</div>
								<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
							</div><!--company_profile_info end-->
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="company_profile_info">
								<div class="company-up-info">
									<img src="http://via.placeholder.com/91x91" alt="">
									<h3>John Doe</h3>
									<h4>Graphic Designer</h4>
									<ul>
										<li><a href="#" title="" class="follow">Connect</a></li>
										<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
										<li><a href="#" title="" class="hire-us">Remove</a></li>
									</ul>
								</div>
								<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
							</div><!--company_profile_info end-->
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="company_profile_info">
								<div class="company-up-info">
									<img src="http://via.placeholder.com/91x91" alt="">
									<h3>John Doe</h3>
									<h4>Graphic Designer</h4>
									<ul>
										<li><a href="#" title="" class="follow">Connect</a></li>
										<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
										<li><a href="#" title="" class="hire-us">Remove</a></li>
									</ul>
								</div>
								<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
							</div><!--company_profile_info end-->
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="company_profile_info">
								<div class="company-up-info">
									<img src="http://via.placeholder.com/91x91" alt="">
									<h3>John Doe</h3>
									<h4>Graphic Designer</h4>
									<ul>
										<li><a href="#" title="" class="follow">Connect</a></li>
										<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
										<li><a href="#" title="" class="hire-us">Remove</a></li>
									</ul>
								</div>
								<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
							</div><!--company_profile_info end-->
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="company_profile_info">
								<div class="company-up-info">
									<img src="http://via.placeholder.com/91x91" alt="">
									<h3>John Doe</h3>
									<h4>Graphic Designer</h4>
									<ul>
										<li><a href="#" title="" class="follow">Connect</a></li>
										<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
										<li><a href="#" title="" class="hire-us">Remove</a></li>
									</ul>
								</div>
								<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
							</div><!--company_profile_info end-->
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="company_profile_info">
								<div class="company-up-info">
									<img src="http://via.placeholder.com/91x91" alt="">
									<h3>John Doe</h3>
									<h4>Graphic Designer</h4>
									<ul>
										<li><a href="#" title="" class="follow">Connect</a></li>
										<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
										<li><a href="#" title="" class="hire-us">Remove</a></li>
									</ul>
								</div>
								<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
							</div><!--company_profile_info end-->
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="company_profile_info">
								<div class="company-up-info">
									<img src="http://via.placeholder.com/91x91" alt="">
									<h3>John Doe</h3>
									<h4>Graphic Designer</h4>
									<ul>
										<li><a href="#" title="" class="follow">Connect</a></li>
										<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
										<li><a href="#" title="" class="hire-us">Remove</a></li>
									</ul>
								</div>
								<a href="user-profile.html" title="" class="view-more-pro">View Profile</a>
							</div><!--company_profile_info end-->
						</div>
					</div>
				</div><!--companies-list end-->
				<div class="process-comm">
					<div class="spinner">
						<div class="bounce1"></div>
						<div class="bounce2"></div>
						<div class="bounce3"></div>
					</div>
				</div>
			</div>
		</section><!--companies-info end-->


	</div><!--theme-layout end-->



 {% block scripting %} 
			<script type="text/javascript" src="{% static 'meroJodi/js/flatpickr.min.js' %}"></script>
{% endblock scripting %}

{% endblock %}